<div>
    <ul class="footer-primary-menu">
        <li>home</li>
        <li>dining</li>
        <li>catering</li>
        <li>products</li>
    </ul>
    <ul class="footer-secondary-menu">
        <li><a href="">Reservations </a>  &nbsp; &nbsp; /</li>
        <li><a href="">Event Inquiries </a>  &nbsp;&nbsp; /</li>
        <li><a href="">Mailing List </a> </li>
    </ul>
    <ul class="footer-tertiary-menu">
        <li><a href="">About Privee Group </a> </li>
        <li><a href="">Management </a>  </li>
        <li><a href="">Press </a> </li>
        <li><a href="">Partner With Us </a> </li>
        <li><a href="">Contact </a>  </li>
        <li><a href="">Careers </a> </li>
    </ul>
    <p class="copyrights">&copy; 2023 PRIVEE GROUP</p>
    <ul class="footer-legal-menu">
        <li><a href="">FAQs </a></li>
        <li><a href="">Gift Card Terms </a></li>
        <li><a href="">Check Gift Card Balance </a></li>
        <li><a href="">Terms & Conditions </a></li>
        <li><a href="">Privacy Policy </a></li>
        <li><a href="">Privacy Request </a></li>
    </ul>
    <ul class="footer-social-menu">
        <li><a href=""><img src="../../../assets/img/search.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/facebook.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/twitter.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/pinterest.svg" alt=""></a></li>
    </ul>
</div>
