<div class="footer">
    <ul class="footer-primary-menu">
        <li (click)="triggeredButton('home')">home</li>
        <li (click)="triggeredButton('events')">events</li>
        <li (click)="triggeredButton('dining')">dining</li>
        <li (click)="triggeredButton('yachting')">yachting</li>
        <li (click)="triggeredButton('hospitality')">hospitality</li>
        <ul class="footer-social-menu">
            <li><a href="#"><img src="../../../assets/img/search.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/img/facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/img/instagram.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/img/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="../../../assets/img/pinterest.svg" alt=""></a></li>
            <li><a href="https://www.linkedin.com/company/priv%C3%A9e-group-of-companies/"><img
                        src="../../../assets/img/linkIn.svg" alt=""></a></li>
        </ul>
    </ul>
    <ul class="footer-secondary-menu">
        <li><a href="#">Reservations </a> &nbsp; &nbsp; /</li>
        <li><a href="#">Event Inquiries </a> &nbsp;&nbsp; /</li>
        <li><a href="#">Mailing List </a> </li>
    </ul>
    <ul class="footer-tertiary-menu">
        <li><a href="https://wolfgangpuck.com/about/ ">About Privee Group </a> </li>
        <li><a href="https://wolfgangpuck.com/press/">Press </a> </li>
        <li><a href="https://wolfgangpuck.com/partner-with-us/ ">Partner With Us </a> </li>
        <li><a href="http://wolfgangpuck.com/careers/
            ">Careers </a> </li>
    </ul>
    <ul class="footer-legal-menu">
        <p class="copyrights">&copy; 2023 PRIVEE GROUP</p>
        <li><a href="#">FAQs </a></li>
        <li><a href="#">Gift Card Terms </a></li>
        <li><a href="#">Check Gift Card Balance </a></li>
        <li><a href="#">Terms & Conditions </a></li>
        <li><a href="#">Privacy Policy </a></li>
        <li><a href="#">Privacy Request </a></li>
    </ul>
</div>