.footer {
    margin-top: 25px;
    border-top: 1px solid rgb(192, 192, 192);
    position: relative;
}

div {
    font-weight: 100;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    // float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a {
    display: inline-block;
    color: #282828;
    text-decoration: none;
}

.footer-primary-menu {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0 0em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    li {
        cursor: pointer;
    }
}

.footer-secondary-menu {
    margin: 0;
    text-shadow: 0 0 0px #000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-tertiary-menu {
    display: block;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-legal-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    text-shadow: 0 0 0px #000;
}

.footer-legal-menu li {

    margin-right: 0em;
    margin-left: .5em;
}

.footer-social-menu {
    display: flex;
    font-size: 5px;
    margin: 0.4em 0 0.4em auto;

    li {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.footer-social-menu img {
    display: inline-block;
    width: 4em;
    height: 4em;
}

.copyrights {
    display: flex;
    font-size: 85%;
    margin: 0;
    text-shadow: 0 0 0px #000;
    padding-left: 16px;
}