<div class="image-container">
    <img src="../../../assets/img/yac.jpg" alt="">
    <div class="centered">
        <nav>
            <h4>YACHTING</h4>
            <div>
                <ul>
                    <li><a href="https://megayachtevents.gr/charter/">Charter</a></li>
                    <li><a href="https://megayachtevents.gr/weddings/">Weddings</a></li>
                    <li><a href="https://megayachtevents.gr/bachelor-parties/">Bachelor Parties</a></li>
                    <li><a href="https://megayachtevents.gr/vip-parties/">VIP Parties</a></li>
                </ul>
            </div>
        </nav>
    
    </div>

</div>