<div class="col-6">
    <img class="head-icon" routerLink="/hello" routerLinkActive="true" src="../../../assets/img/Privee_Group_logo.png"
        alt="">
</div>
<div class="col-6">
    <ul class="icon-menu">
        <li><a href=""><img src="../../../assets/img/icon_geo.svg" alt=""></a> <span>RESTAURANTS</span></li>
        <li><a href=""><img src="../../../assets/img/icon_reservations.svg" alt=""></a><span>RESERVATIONS</span> </li>
        <li><a href=""><img src="../../../assets/img/icon_events.svg" alt=""></a><span>EVENT INQUIRY</span></li>
        <li><a href=""><img src="../../../assets/img/icon_mailinglist.svg" alt=""></a><span>MAILING LIST</span></li>
        <li><a href=""><img src="../../../assets/img/icon_share.svg" alt=""></a><span>SOCIAL</span></li>
    </ul>
</div>