<div class="col-6">
    <img class="head-icon" routerLink="/hello" routerLinkActive="true" src="../../../assets/img/Kyklades-logo_Restaurant.png" alt="">
</div>
<div class="col-6">
    <ul class="icon-menu">
        <li><a href=""><img src="../../../assets/img/icon_geo.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/icon_reservations.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/icon_events.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/icon_mailinglist.svg" alt=""></a></li>
        <li><a href=""><img src="../../../assets/img/icon_share.svg" alt=""></a></li>
    </ul>
</div>
