.head-icon{
    height: 7em;
    width: 14em;
}
.icon-menu{
z-index: 999;
white-space: nowrap;
margin: 0;
padding: 0;
position: absolute;
top: 2em;
right: 2em;
text-align: right;
display: block;
text-transform: uppercase;
cursor: pointer;
}
.icon-menu li{
    list-style: none;
    margin: 0 0 0 -0.3em;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.icon-menu li img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 4em;
    height: 1.5em;
    padding: 0;
}