<div class="image-container">
    <img src="../../../assets/img/hospitality.jpg" alt="">
    <div class="centered">
        <nav>
            <h4>HOSPITALITY</h4>
            <div>
                <ul>
                    <li><a href="https://privee-santorini.gr/">Santorini</a></li>
                    <li><a href="https://megayachtevents.gr/">Mykonos</a></li>
                    <li><a href="https://chalkidiki.villas/">Chalkidiki</a></li>
                </ul>
            </div>
        </nav>
    
    </div>

</div>