<div class="mailing-list-container">
    <div class="row">
        <div class="col-6">
            <p class="label">Subscribe to Privee Group's mailing list</p>
            <div class="form-container">
                <div>
                    <input type="text" placeholder="email*">
                </div>
                <div>
                    <input type="text" placeholder="First Name">
                </div>
                <div>
                    <input type="text" placeholder="Last Name">
                </div>
                <div>
                    <input type="text" placeholder="Postal Code">
                </div>
                <div>
                    <span>I'm interested in...</span>
                    <div class="checkbox-list">
                        <input type="checkbox" value="dining"><span>Dining</span>
                        <input type="checkbox" value="catering"><span>Catering</span>
                        <input type="checkbox" value="products"><span>Products</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>