<div class="image-container">
    <img src="../../../assets/img/event.jpg" alt="">
    <div class="centered">
        <nav>
            <h4>EVENTS</h4>
            <div>
                <ul>
                    <li><a href="https://privee.gr/">Weddings & Christenings</a></li>
                    <li><a href="https://privee.gr/premium-privee/">Corporate Events</a></li>
                    <li><a href="https://privee.gr/catering-event/">Catering</a></li>
                </ul>
            </div>
        </nav>
    
    </div>

</div>