<div class="row">
    <div class="col-6">
        <div class="form-container">
            <div>
                <input type="text" placeholder="FIRST*">
            </div>
            <div>
                <input type="text" placeholder="LAST*">
            </div>
            <div class="date">
                <input type="email" placeholder="EMAIL*">
            </div>
            <div>
                <input type="text" placeholder="PHONE*">
            </div>
            <div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    formControlName="partyCount">
                    <option class="label-name">Event Type</option>

                </select>
                <span></span>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="form-container">
            <div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    formControlName="partyCount">
                    <option class="label-name">LOCATION*</option>

                </select>
                <span></span>
            </div>
            <div>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    formControlName="partyCount">
                    <option class="label-name">VENUE*</option>

                </select>
                <span></span>
            </div>
            <div class="date">
                <input type="date">
            </div>
            <div>
                <input type="text" placeholder="ESTIMATED ATTENDANCE">
            </div>
  

        </div>
    </div>
    <textarea placeholder="Please share details and vision for your event" cols="30" rows="5"></textarea>
    <div class="submit-btn">
        <button>Submit</button>
    </div>
</div>